/* Global */
html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

body {

}

h1 {
    text-align:center;
}

/* Landscape */
@media (orientation:landscape) { 
    html, body {

    }

    body {

    }

    #dvContain {

    }
}

/* Portrait */
@media (orientation:portrait) {
    html, body {
        
    }

    body {

    }

    #dvContain {

    }
}

/* Misc */